table, td, form, iframe {
	margin: 0px;
	padding: 0px;
	border: 0px solid;
	border-collapse: collapse;
	vertical-align: top;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #012F51;
}

html, body {
	height: 100%;
}

table, td, div, form {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	font-weight: normal;
	font-style: normal;
}

a {
	color: #33CCFF;
	text-decoration: none;
}

a:hover, a:visited {
	color: #FFCC66;
	text-decoration: none;
}

a.title {
	font-size: 18px;
}

.text1 {
	color: #FFF;
}

a.close {
	float: right;
	color: #CECFCE;
	text-decoration: underline;
}

a.close:hover, a.close span {
	text-decoration: none;
}

a.close span {
	font-weight: bold;
}

.clear {
	clear: both;
}

.alcenter {
	text-align: center;
}

.answer_bar {
	width: 740px;
	float: left;
}

a.for1, a.for1:hover, a.for1:visited {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

a.for1:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

a.for2, a.for2:hover, a.for2:visited {
	color: #FFFFFF;
	font-style: italic;
	text-decoration: underline;
}

a.for2:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-style: italic;
}

a.for3, a.for3:hover, a.for3:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

a.for3:hover{
	text-decoration: none;
	color: #FFFFFF;
}

a.answer, a.answer:hover, a.answer:visited, a.up, a.up:hover, a.up:visited {
/*	display: block; */
	width: 50px;
	text-decoration: underline;
	font-size: 11px;
	color: #EEEEEE;
	margin: 15px 10px 0px 0px;
}

a.up, a.up:hover, a.up:visited {
	font-size: 11px;
	float: right;
	text-decoration: none;
}

a.remove, a.remove:hover, a.remove:visited {
	font-size: 11px;
	float: right;
	color: red;
	margin: 0px 0px 0px 5px;
	text-decoration: underline;
}

a.ban, a.ban:hover, a.ban:visited {
	font-size: 11px;
	float: right;
	font-weight: bold;
	margin: 0px 0px 0px 5px;
	text-decoration: underline;
}

a.title {
	font-size: 18px;
}

img {
	margin: 0px;
	border: 0px solid;
}

img.postimage {
	float: left;
	margin-right: 5px;
/*	padding-left: 1em; */
}

label.cloned {
	color: red;
	text-decoration: underline;
}

.block_menu, .block_menu_m {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	background: #C3C5C8 url(../images/top_bg.png) repeat-x bottom; 
	padding: 8px 5px 0px 5px;
	border: 2px solid #727478;
}

.block_menu_m{
	padding-top: 8px;
}

.menu {
	height: 24px;
}

.menu * {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.menu a, .menu a:hover, .menu a:visited {
	text-decoration: none;
	color: #1a1a1a;
	display: block;
	float: left;
	padding: 5px 8px;
	text-decoration: none;
}

.menu input {
	float: left;
}

.menu a.name_m, .menu a.name_m:hover, .menu a.name_m:visited {
	color: #FF5000;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: underline;
}

.menu .sep {
	margin: 0px 3px;
	padding: 7px 0px 0px 0px;
	width: 1px;
	float: left;
}

.menu .sep div {
	width: 1px;
	height: 10px;
	line-height: 0px;
	font-size: 0px;
	background: #999;
}

.group_sel {
	display: block;
	float: right;
	padding: 0px 5px 3px 0px;
}

.group_sel select, .group_sel option {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

.btn_group_sel {
	width: 23px;
	height: 19px;
	background: url(../images/btn_paging_sel.png) no-repeat center;
	border: 0px;
	vertical-align: top;
	cursor: pointer;
}

.paging_sel select, .paging_sel option {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.paging_sel option {
	padding-right: 5px;
}

.btn_paging_sel {
	width: 19px;
	height: 19px;
	background: url(../images/btn_paging_sel.png) no-repeat center;
	border: 0px;
	vertical-align: bottom;
	cursor: pointer;
	border: 1px solid #000;
}

.navigation {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;
	background: #000;
	color: #FCFCFC;
	font-size: 11px;
	font-weight: bold;
}

.navigation .box_path {
	color: #FCFCFC;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 0px;
}

.navigation .box_path a, .navigation .box_path a:hover, .navigation .box_path a:visited {
	color: #FCFCFC;
	text-decoration: none;
}

.navigation .box_path a:hover {
	text-decoration: underline;
}

.paging {
	height: 20px;
	padding: 5px 15px;
	background: #000;
	color: #FCFCFC;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #FCFCFC;
	vertical-align: top;
}

.paging {
	width: 738px;
	margin-left: auto;
	margin-right: auto;
}

.paging_sel {
	width: 300px;
	vertical-align: bottom;
	color: #FCFCFC;
	float: left;
}

.prev {
	display: block;
	float: right;
	margin-top: 3px;
}

.next{
	display: block;
	float: left;
	margin-top: 3px;
}

.up_down{
	display: block;
	padding-top: 3px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.themes, .userstable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	width: 765px;
}

.themes td, .userstable td {
	background-color: #0F3C60;
	padding: 10px;
	vertical-align: middle;
	border: 1px solid #012F51;
	color: #FFF;
}

.themes td.tdw1 {
	width: 70px;
	border-left: 5px solid #0F3C60;
	color: #237cad;
}

.themes td.tdw2 {
	width: 100px;
	border-right: 5px solid #0F3C60;
	color: #237cad;
}

.themes td.tdw3 {
	color: #237cad;
}

.themes td.tdw3 a {
	font-weight: bold;
}

.themes td.tdw4 {
	width: 10px;
	text-align: center;
}

.userstable {
	width: 768px;
}

.userstable th {
	background: #012641;
	color: #FFF;
	font-weight: bold;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #012F51;
}

.userstable .tdw1 {
	width: 60px;
}

.userstable .tdw2 {
	width: 30px;
}

.userstable .tdw3 {
	width: 100px;
}

.userstable .tdu3 {
	width: 100px;
	text-align: center;
}

.box1 {
	width: 750px;
	margin: 1px 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0F3C60;
	padding: 10px;
}

.block1, .block2 {
	width: 738px;
	background: #000;
	border: 1px solid #FFF;
	padding: 6px 15px;
	margin-left: auto;
	margin-right: auto;
	color: #FFF;
}

.block2 {
	border: 0px;
	width: 740px;
}

.block1 {
	border: 0px;
	width: 740px;
	height: 120px;
	background: url('images/bg.jpg');
}

.block2 a, .block2 a:hover, .block2 a:visited {
	font-weight: bold;
}

.logo {
	position: relative;
	float: left;
	left: -20px;
}

.weather {
	position: relative;
	float: right;
	right: 30px;
	padding-top: 5px;
}

.w_title {
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 120%;
}

.w_temp {
	font-size: 18px;
	font-weight: bold;
	color: #6ed11e;
	line-height: 120%;
}

.copy {
	float: right;
	padding-left: 20px;
	color: #FFF;
}

.line1 {
	height: 0px;
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #FCFCFC;
	font-size: 0px;
	line-height: 0px;
}
.line2 {
	height: 2px;
	padding: 0px;
	background: #012F51;
	margin: 5px 0px 5px 0px;
	line-height: 0px;
	font-size: 0px;
}
.line3 {
	height: 1px;
	background: #FFF;
	padding: 0px;
	margin: 3px 0px 3px 0px;
	font-size: 0px;
	line-height: 0px;
}

.name {
	font-weight: bold;
}

.name1 {
	font-weight: bold;
}

.text_box_1, .text_box_1_dialog {
	padding: 0px 5px;
	margin: 2px 0px 1px 0px;
	background: #0F3C60;
	color: #FFF;
}

.text_box_1, .error1 {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.text_box_2, .text_box_2_dialog {
	padding: 15px;
	margin: 1px 0px 2px 0px;
	background: #205080;
	color: #FAFAF0;
	font-size: 13px;
	line-height: 120%;
}

.text_box_2 div.text_box_2_mess {
	color: #FAFAF0;
	font-size: 12px;
/*	line-height: 110%; */
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	overflow: auto;
}

.text_box_2 {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.text_box_2_dialog {
	padding: 10px;
}

.box_user {
	display: block;
	padding: 5px 0px;
}

.box_alfavit {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 15px;
	background: #000;
	font-size: 11px;
	text-align: center;
	color: #FFF;
}

.box_alfavit span {
	font-weight: bold;
}

cite, .box_cite {
	display: block;
	font-style: normal;
	font-size: 12px;
	color: #CFCFCF;
	border-left: 1px solid #777777;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	padding-left: 10px;
}

.box_pasport {
	background: #E4E6E5 url(../images/text_bg.png) repeat-x top;
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
	color: #666666;
}

.box_pasport_bg {
	background: url(../images/pasport.jpg) no-repeat top right;
	padding: 20px 370px 20px 20px;
	color: #000;
}

.box_small_text {
	padding: 5px;
	font-size: 10px;
	color: #012F51;
	margin: 5px 0px 5px 0px;
	background: #D2D8DE;
}

.form_mess {
	width: 770px;
	height: 200px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: #0F3C60;
}

.form_box_name, .form_box_btn {
	padding: 5px 0px 0px 5px;
	float: left;
}

.form_box_title, .format {
	padding: 5px 5px 0px 0px;
	float: right;
}

.form_box_mess {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.form_box_image_btn {
	padding: 5px 0px 0px 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label.l_inp_text_name {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	margin: 0px 0px 2px 3px;
}

label.l_inp_text_name span {
	color: #F90;
}

.inp_text_name, .area_text {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #E6E6E6;
	border: 0px solid;
}

.inp_text_name {
	width: 376px;
	height: 18px;
	padding: 2px 0px 0px 2px;
	margin: 0px;
}

.area_text {
	width: 760px;
	height: 110px;
	padding: 0px;
	margin: 3px 0px 0px 0px;
}

.btn_form {
	width: 150px;
	height: 19px;
	border: 0px;
	background: url(../images/btn_bg.png) repeat-x center;
	cursor: pointer;
	color: #FFF;
	font-size: 11px;
	text-align: center;
	padding-bottom: 2px;
}

.form_reg label, .form_reg label.radiolab {
	font-size: 12px;
	color: #000;
	display: block;
	margin: 8px 0px 2px 3px;
}

.form_reg label.radiolab {
	display: inline;
	padding: 5px 0px 0px 0px;
	cursor: pointer;
}

.inp_text_reg, .area_text_reg, .area_dialog_text {
	width: 375px;
	height: 19px;
	padding: 2px 0px 0px 3px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	border: 1px solid #7F9DB9;
}

.area_text_reg {
	width: 375px;
	height: 90px;
}

.btn_reg, .btn_dialog {
	width: 220px;
	height: 19px;
	border: 0px;
	background: url(../images/btn_bg.png) repeat-x center;
	cursor: pointer;
	color: #FFF;
	font-size: 11px;
	text-align: center;
	padding-bottom: 2px;
}

.form_dialog {
	/*float: left;
	margin: 10px 250px 0px 0px;*/
	margin: 10px 10px 10px 0px;
}

.area_dialog_text {
	/*width: 100%;*/
	width: 95%;
	height: 90px;
}

.error {
	font-size: 11px;
	color: #d63100;
	font-weight: bold;
}

.error1 {
	font-size: 11px;
	color: #d63100;
	font-weight: bold;
	padding: 0px 3px;
}

#overlay{
	width: 100%;
	height: 100%;
	position:absolute;
	display:none;
	background:#000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	left:0;
	top:0;
	z-index: 95;
}

.pasport1 {
	width: 255px;
	float: left;
	padding: 25px 20px 0px 25px;
}

.pasport_info {
	height: 340px;
}

.user_info_img {
	float: left;
	border: 1px solid #7F9DB9;
	margin: 10px;
}

.pasport_title {
	font-size: 26px;
	color: #012f51;
	padding: 5px 0px 0px 0px;
}

.pasport_title span {
	display: block;
	font-size: 13px;
	font-weight: bold;
}

.pasport_info_box, .pasport_info_box_write {
	padding: 3px 10px;
	color: #FFFFFF;
}

.pasport_info_box_write {
}

.pasport_info_box span {
	display: block;
	font-weight: bold;
	color: #FFFFFF;
}

.pasport_info_box a, .pasport_info_box a:hover, .pasport_info_box a:visited {
	text-decoration: underline;
	color: #FFFFFF;
	font-weight: normal;
}

.pasport_info_box_write a, .pasport_info_box_write a:hover, .pasport_info_box_write a:visited {
	text-decoration: underline;
	color: #FFFFFF;
	font-weight: bold;
}

.pasport_info_box a:hover, .pasport_info_box_write a:hover {
	text-decoration: none;
}

.pasport2 {
	width: 270px;
	padding: 25px 20px 10px 10px;
	float: right;
	color: #000;
}

.pasport_text_full {
	width: 270px;
	height: 260px;
	color: #FFFFFF;
	overflow: auto;
	margin-bottom: 7px;
}

.pasport_podpis {
	text-align: center;
	padding: 5px;
}

.pasport_close {
	text-align: right;
	padding: 0px 15px 8px 0px;
}

.pasport_close a, .pasport_close a:hover, .pasport_close a:visited {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
